<header id="page_header">
  <h1>Store Front</h1>
</header>
<p style="color: green"><%= notice %></p>
<div data-controller="filter">
  <section id="filter_section">
      <input data-filter-target="filterText" data-action="keyup->filter#changeFilterText" type="text">
      <button data-action="click->filter#requestFilter">Filter</button>
      <button data-action="click->filter#doSort">Sort</button>
  </section>

  <section id="people_section">
    <p class="text-blue-400"> test paragraph </p>
    <table id="people" class="mx-auto">
      <% @people.each do |person| %>
        <%= render "frontperson", person: person %>
      <% end %>
    </table>
  </section>

<section id="request_section">
  <%= render "frontrequestdrink" %>
</section>

</div>
<footer id="page_footer">
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Brewster</a></li>
    </ul>
  </nav>
</footer>
